  {% include "header.html" %}
  <br/>
  <a href="{{url_for('create')}}" class="btn btn-success">
    add new concact
  </a>
  <br>
  <br>



  <table class="table table-dark">
    <thead class="thead-light">
      <tr>
        <th>#id</th>
        <th>First Name</th>
        <th>SurName</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      
      {% for peopel in peopel %}
      <tr>  
        <td>{{peopel[0] }}</td>
        <td>{{peopel[1] }}</td>
        <td>{{peopel[2] }}</td>
        <td>{{peopel[4] }}</td>
        <td>{{peopel[3] }}</td>
        <td>  
          <a class="btn btn-warning" href="/edit/{{peopel[0]}}">Edit</a> |
          <a onclick="return confirm('¿are you sure?')" class="btn btn-danger" href="/destroy/{{peopel[0]}}">Delete</a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>


 {% include "footer.html" %}